.App {
  text-align: center;
}

.block-margin {
  margin-bottom: 30px;
}

.side-menu {
  width: 250px;
  margin-right: 20px;
}

.menu-icon {
  margin-right: 5px !important;
}

.enclosed-area {
  display: inline-block;
  border-radius: 3px;
  border: 1px dashed #888;
  padding: 8px;
  width: 100%;
}

.flex-container {
  display: flex;
  list-style: none;
}

.right-justified-item {
  margin-left: auto;
  margin-right: 30px;
}

.sticky-head {
  background-color: #fff;
  position: sticky;
  top: 0;
  font-size: 18px !important;
}

.simple-cell {
  font-size: 16px;
}

.cell-button {
  border-style: none;
  background-color: #fff;
  cursor: pointer;
}

.item-caption {
  font-size: 1.4rem;
  font-weight: bold;
  display: block;
  float: left;
}
